<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuanLyPhongNet.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="QuanLyPhongNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <QuanLyPhongNet.Properties.Settings1>
            <setting name="strConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="userConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="passConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverConnect" serializeAs="String">
                <value/>
            </setting>
        </QuanLyPhongNet.Properties.Settings1>
        <QuanLyPhongNet.Properties.Settings>
            <setting name="strConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="userConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="passConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="severConnect" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectType" serializeAs="String">
                <value>False</value>
            </setting>
        </QuanLyPhongNet.Properties.Settings>
    </userSettings>
</configuration>
